%h3 My Account

= form.label :login 
%br
= form.text_field :login 
%br
%br

= form.label :email 
%br
= form.text_field :email 
%br
%br

- if @from_twitter
  = form.label :twitter_screen_name
  %br
  = form.text_field :twitter_screen_name, :value => session[:twitter_screen_name], :disabled => 'disabled'
  %br
  = form.check_box :link_twitter, :checked => 'checked'
  = form.label :link_twitter, "Link my iBoflavin account to my Twitter account"

%table
  %tr
    %td= form.label :password, form.object.new_record? ? nil : "Change password" 
    %td= form.label :password_confirmation, "and again..."
  %tr
    %td= form.password_field :password 
    %td= form.password_field :password_confirmation
    
%br
%h3 About Me
%p#profile_float_right
  We really don't need to know much, we promise! All we need is your sex, birthday and lifestyle and we can use averages to figure out what diet is healthiest for you. You can also set your own diet goals nutrient-by-nutrient if you like on the
  = link_to 'goals page', goals_path

= form.label :sex 
%br
= form.select(:sex,sex_select_options) 
%br

= form.label :birthday 
%br
= form.date_select :birthday, birthday_select_settings
%br

= form.label :lifestyle
%br
= form.select(:lifestyle,lifestyle_select_options)
%br
%br
