%h3 My Profile
%p
  %b Login:
  =h @user.login

%p 
  %b Email:
  =h @user.email
%p
  %b Birthday:
  - if @user.birthday 
    = h( @user.birthday.strftime("%B %d, %Y"))
  - else 
    = link_to('Set Yours', edit_account_path)

%p 
  %b Lifestyle:
  - if @user.lifestyle and !@user.lifestyle.empty?    
    = h(@user.lifestyle.capitalize)
  - else 
    = link_to('Set Yours', edit_account_path)

= link_to 'Edit', edit_account_path
