%h4
  iBoflavin is the easy way to keep track of what you eat. 

.frontbox
  = image_tag 'front-icons/simple.png', :style=>'float:left'
   
  %h4 Simple
  %p 
    == Tell iBoflavin what you ate, using whatever words come to mind, and we'll figure the rest out.
   
.frontbox
  = image_tag 'front-icons/quick.png', :style=>'float:left'
  %h4 Quick
  %p 
    == Posting something you ate is as simple as one text box. iBoflavin can usually guess what you mean.
   
.frontbox
  = image_tag 'front-icons/intelligent.png', :style=>'float:left'
  %h4 Intelligent
  %p
    == If iBoflavin makes a mistake, you can teach it by correcting it. iBoflavin never makes the same mistake twice!

.frontbox   
  = image_tag 'front-icons/mobile.png', :style=>'float:left'
  %h4 Mobile
  %p
    == Posting on-the-go is easy too! Just download the iPhone app, install a dashboard widget, or tweet @iboflavin.

%br
%h4 
  We just put iBoflavin into the oven. Want to know when it is ready?
- form_for(Invitation.new) do |f|
  = f.error_messages
  = f.text_field :recipient_email, :class => 'text', :style =>'width: 205px', :value => "me.first@earlybird.com"


%br/ 
= link_to((image_tag 'twitter-auth.png'), twitter_login_url)
%br/
== #{link_to 'Log in', login_path} | #{link_to 'Sign up', register_path}