<h1>Editing goals</h1>

<% form_for(@goals) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nutrient_id %><br />
    <%= f.text_field :nutrient_id %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.label :unit %><br />
    <%= f.text_field :unit %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @goals %> |
<%= link_to 'Back', goals_path %>