<p>
  <b>Nutrient:</b>
  <%=h @goals.nutrient_id %>
</p>

<p>
  <b>User:</b>
  <%=h @goals.user_id %>
</p>

<p>
  <b>Amount:</b>
  <%=h @goals.amount %>
</p>

<p>
  <b>Unit:</b>
  <%=h @goals.unit %>
</p>


<%= link_to 'Edit', edit_goals_path(@goals) %> |
<%= link_to 'Back', goals_path %>