<p>
  <b>Nutrient:</b>
  <%=h @goal.nutrient_id %>
</p>

<p>
  <b>User:</b>
  <%=h @goal.user_id %>
</p>

<p>
  <b>Amount:</b>
  <%=h @goal.amount %>
</p>

<p>
  <b>Unit:</b>
  <%=h @goal.unit %>
</p>


<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
