!!!Strict
%html{ :lang => "en" }
  %head
    %meta{ :content => "text/html charset=utf-8", "http-equiv" => "Content-Type" }
    %title= APP[:name]
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    /= javascript_include_tag 'http://rubidium.53cr.com/js/c27f1fd154520a9f86ba07cb62a0206c/jquery-1.3.2+cufon-yui-2009-05-04+Fertigo_400.font+++iboflav.in.js'
    = javascript_include_tag 'jquery', 'cufon-yui', 'Fertigo_400.font'
    = javascript_tag 'Cufon.replace("h3");'
    = javascript_include_tag 'jquery-ui', 'jrails', 'application.js'

  %body
    #page
      #leftpanel
        &nbsp;
      #mainpanel
        #cloud <div></div>
        #header= render :partial => '/shared/header'
        #content
          - flash.each do |key, value|
            %div{:class => key}= h(value)
          = yield
    <script type="text/javascript" src="http://www.google-analytics.com/ga.js"></script>
    <script type="text/javascript">//<![CDATA[
    try {_gat._getTracker("UA-5149541-6")._trackPageview();} catch(err) {} //]]>
    </script>
