!!!Strict
%html{ :lang => "en" }
  %head
    %meta{ :content => "text/html charset=utf-8", "http-equiv" => "Content-Type" }
    /TODO Set this to a reasonable title based on the controller or something.
    %title= APP[:name]
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
    = javascript_include_tag 'jquery', 'cufon-yui', 'Fertigo_400.font'
    = javascript_tag 'Cufon.replace("h2");'
    = javascript_tag 'Cufon.replace("h3");'
    = javascript_tag 'Cufon.replace("h4");'
    = javascript_include_tag 'jquery.tools', 'jquery-ui', 'jquery.jeditable', 'jquery-form', 'application'
  %body
    #page
      - if @current_user
        = render :partial => 'shared/leftpanel'
      - else
        #leftpanel
          #leftpanel-inner
            &nbsp;
      #mainpanel
        #cloud <div></div>
        #header= render :partial => '/shared/header'
        #content
          - flash.each do |key, value|
            %div{:class => key}= h(value)
          = yield
    #overlay.overlay
      .wrap
    #footer
    = javascript_include_tag "http://www.google-analytics.com/ga.js"
    = javascript_tag 'try {_gat._getTracker("UA-5149541-6")._trackPageview();} catch(err) {}'
